<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Конфигурация аппендера для вывода логов в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Устанавливаем корневой логгер на уровень INFO -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Уровень логирования для Testcontainers и Docker Java, чтобы избежать DEBUG-логов -->
    <logger name="org.testcontainers" level="info"/>
    <logger name="com.github.dockerjava" level="info"/>

    <!-- Дополнительные логгеры можно настроить для других пакетов при необходимости -->
    <!-- Пример для Spring Web, если нужно контролировать их уровень логирования -->
    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.web" level="info"/>

</configuration>
